@media screen and (max-width: 449px) {
    #linha1, #linha2, #linha3{
        flex-direction: column;
    }
}
@media screen and (min-width: 450px) {
    #linha1, #linha2, #linha3{
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    #linha1, #linha2, #linha3{
        flex-direction: column;
    }
}

@media screen and (min-width: 992px) {
    #linha1, #linha2, #linha3{
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    #linha1, #linha2, #linha3{
        flex-direction: row;
    }
}