*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background: #ddd;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
#logo{
    

}
form{
    position: absolute;
    margin-left: 300px;
}
#menu{
    background: #fff;
}
#menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
section{
    border: 3px solid yellowgreen;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}
#artigo-g{
    border: 3px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.card-g{
    border: 3px solid green;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 7px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.card-g img{
    width: 100%;
    border-radius: 10px;
}