*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background: #ddd;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#logo{
    padding: 15px;
}
#logo img{
    width: 250px;
}
form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
form input{
    width: 290px;
    border-radius: 20px 0 0 20px;
    height: 45px;
    border: none;
    outline: none;
}
form button{
    border-radius: 0 20px 20px 0;
    border: none;
    padding: 10px;
    background-color: #fff;
    font-size: 25px;
    outline: none;
    cursor: pointer;
}
#menu{
    padding: 15px;
    background: #fff;
}
#menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
#menu ul li{
    color: #a3bcde;
    margin: 7px;
    border: 0px solid yellowgreen;
}
section{
    border: 0px solid yellowgreen;
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}
section h3{
    color: #a3bcde
}
#artigo-g{
    border: 0px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.card-g{
    border: 0px solid green;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.card-g img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}
.card-g p, h3{
    margin: 10px 20px;
}
footer{
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}